.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('secondBackground');

  &-socials__text,
  &-form__subscription {
    @extend %advantageFooter;
    color: getColor('mainWhite');
  }
}

.footer__logo {
  &--white {
    color: getColor('mainWhite');

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
}

.footer-list {
  margin-top: 20px;
  &__item:not(:first-child) {
    margin-top: 9px;
  }
  &__address {
    @extend %advantageText;
    letter-spacing: 0.03em;
    color: getColor('mainWhite');

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;
    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
  &__link {
    @extend %advantageText;
    color: getColor('footerContacts');

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
}

.footer-socials {
  margin-left: 70px;
  &-list {
    margin-top: 20px;
  }
}

.footer-socials-list {
  &__link {
    width: 44px;
    height: 44px;
    color: getColor('mainWhite');
    background-color: getColor('footerSocialsBgc');
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      background-color: getColor('accent');
    }
  }
}

.footer-form {
  margin-left: 93px;
  &__overlay {
    min-width: 358px;
  }
  &__label {
    display: block;
    margin-bottom: 20px;
  }
  &__input {
    padding: 15px 16px;

    width: 100%;
    height: 50px;

    font-size: 16px;
    line-height: 1.25;
    color: getColor('mainWhite');
    background-color: getColor('secondBackground');
    border: 1px solid getColor('footerInputBorder');
    border-radius: 4px;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    &::placeholder {
      color: getColor('footerContacts');
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &__button {
    @extend %btn;
    transform: scale(1);
    padding: 10px 29px;
    margin-left: 12px;
    letter-spacing: 0.06em;
    border: none;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }
  &__icon {
    margin-left: 10px;
  }
}
